body {
    background: rgb(204,204,204);
}
page {
    width: 21cm;
    height: 29.7cm;
    background: white;
    display: block;
    margin: 0 auto;
    /*margin-top: 0.5cm;*/
    /*margin-left: 0.5cm;*/
    /*margin-right: 0.5cm;*/
    /*margin-bottom: 0.5cm;*/
    padding-top: 0.5cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}